{% extends 'base.html' %}

{% block nav_elements %}
    <li><a href="">account</a></li>
    <li><a href="">analytics</a></li>
    <li class="active"><a href="">pantry</a></li>
    <li><a href="">recipes</a></li>
    <li ><a href="">home</a></li>
{% endblock %}

{% block content %}

<body>
    <div style="align-content: center; text-align:center">
        <form action ='analytics/add' method ='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ add_form }}
            <input type="submit" value="Submit">
        </form>
    </div>
        <p style="text-align: center">It is the {% now "jS \o\f F" %} </p>
        <div>
        <table style= 'border: 1px solid; width: 100%; text-align:center'>
            <thead>
                <th>Meals</th>
                <th>Amount</th>
                <th>Calories</th>
            </thead>
            <tbody id="mealmade_id">
                {% for meal in analytics %}
                <tr>
                    <td>{{meal.recipename}}</td>
                    <td>{{meal.amount}}</td>
                    <td>{{meal.calories}}</td>
                    <td><button type="submit" onclick="location.href = '/analytics/delete/{{meal.id}}'">Delete Item</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div style="text-align:center"><button type="submit" onclick="location.href = '/analytics/deleteall'">Delete All</button></div>
        <!-- <div style="text-align:center"><button type="submit" onclick="location.href = '/analytics/calculatecalories'">Calculate Calories</button></div> -->
        <div style="text-align:center">
            <h1 style="font-size:130%;"> 
                {% if calorie_goal_status > 0 %}
                You need  {{ calorie_goal_status }} calories more to reach your goal. 
                {% elif calorie_goal == 0 %}
                You've reached your goal of {{ calorie_goal}} calories for today.
                {% else %}
                You surpassed your goal by {{ over_calorie }} calories.
                {% endif %} 
            </h1>     
        </div>
    
</body>



    
{% endblock %}