{% extends 'base.html' %}

{% block content %}

<nav>
    <ul>
        <li><a href="/account">account</a></li>
        <li><a href="/analytics">analytics</a></li>
        {% if user_index != 0 %}
            <li><a class="active" href="/pantry">pantry</a></li>
        {% else %}
            <li><a href="/login">pantry</a></li>
        {% endif %}
        <li><a href="/recipe">recipes</a></li>
        <li><a href="/">home</a></li>
    </ul>
</nav>

<body>
    <br>
        <div id= "pantry_add_form">
            <h3 style = "margin:0;padding:5px; text-align:center;">Add Ingredient</h3>
            <form action ='pantry/add' method ='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div>Name: {{ add_form.name }}</div>
                <div>Amount: {{ add_form.amount }}</div>
                <input class="button" type="submit" value="Submit">
            </form>
        </div>

        <div id = "pantry_div">
            {% for a in pantry %}
                <section id = "pantry_item">
                    <h2 class = "pantry_name">{{a.name}}</h2>
                    <h5 class = "pantry_quantity">Quantity:   <span style = "font-size:large;">{{a.amount}}</span></h5>
                    <section style = "display:inline-block;">
                        <button class = "pantry_item_edit" type="submit" onclick="location.href = '/pantry/delete/{{a.id}}'">Delete Item</button>
                        <button class = "pantry_item_edit" type="submit" onclick="location.href = '/pantry/qadd/{{a.id}}'">Add 1</button>
                    </section>
                </section>
            {% endfor %}
        </div>
    
</body>
    
{% endblock content %}