{% extends 'base.html' %}

{% block nav_elements %}
    <li><a href="">account</a></li>
    <li><a href="">analytics</a></li>
    <liclass="active"><a href="">pantry</a></li>
    <li><a href="">recipes</a></li>
    <li ><a href="">home</a></li>
{% endblock %}

{% block content %}

<body>
        <form action ='pantry' method ='POST' name = "add" value = 'add'>
            {% csrf_token %}
            <input type= 'file' name='pantry_image'> <br>
            <input type = 'text' name = 'pantry_name' placeholder = 'Input ingredient'><br>
            <input type= 'number' name = 'pantry_quantity' placeholder = 'Input Quantity'><br>
            <input type= 'submit' value = 'add' name = 'add' >
        </form>
        
        <div style = 'display: flex;  
        justify-content: space-evenly;  
        align-content: flex-start; 
        flex-direction: row; 
        flex-wrap: wrap;'>
        
        {% for a in pantry reversed %}
            <section>
                <img src = '{{a.img.url}}' width="200" height="200"> 
                <br>
                <h3 style = "display:inline;">{{a.name}}</h3>
                <h5 style = "display:inline;">Quantity: {{a.amount}}</h5>
                <br>
                <section style = "display:inline-block;">

                    <form action = 'pantry' method ='POST' id = 'delete' style = "display:inline-block;" > 
                        {% csrf_token %}
                        <input type="hidden" value= "{{a.pk}}" name = "pk">
                        <button type="submit"  value = 'delete' name = 'delete' >Delete Item</button>
                    </form>

                    <form action = 'pantry' method ='POST' id = 'quantity_add' style = "display:inline-block;"> 
                        {% csrf_token %}
                        <input type="hidden" value= "{{a.pk}}" name = "pk">
                        <input type="hidden" value= "{{a.amount}}" name = "amount">

                        <button id = "quantity_add" type="submit"  value = 'quantity_add' name = 'quantity_add' >Add Quantity</button>
                    </form>
                </section>
            </section>
        {% endfor %}
        </div>
    
</body>



    
{% endblock %}