{% extends 'base.html' %}

{% if account %}
    {% block title %}
        <title>{{ account.username|capfirst }}'s Profile</title>
    {% endblock %}

    {% block content %}
        <style>
            .form{
                margin: 5%;
            }
            .form input{
                width: 10%;
            }
        </style>
        <article>
            <header>
                <h2>{{ account.username }}</h2>
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="" height="300px">
                {% endif %}
                <a href="edit_account">edit</a>
            </header>

            <hr>

            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>


            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 style="color:black">weight (kg)</h2>
                {{ form.weight }} <br> <br>
                <h2 style="color:black">height (cm)</h2>
                {{ form.height }} <br> <br>
                <h2 style="color:black">bmi</h2>
                <input type="text" class="account_field" value="{{ user.bmi|floatformat:2 }}" readonly></input> <br> <br>
                <h2 style="color:black">weight goal</h2>
                {{ form.weight_goal }} <br> <br>
                <h2 style="color:black">calorie goal</h2>
                {{ form.calorie_goal }} <br> <br>
                <h2 style="color:black">calorie goal</h2>
                {{ form.profile_picture }} <br> <br>
        
                <button type="submit">save changes</button>
            </form>
        </article>
    {% endblock content %}
{% endif %}