{% extends 'base.html' %}

{% block nav_elements %}
    {% if user_index != 0 %}
        <li><a class="active" href="account">account</a></li>
    {% else %}
        <li><a class="active" href="login">login</a></li>
    {% endif %}
    <li><a href="">analytics</a></li>
    <li><a href="">pantry</a></li>
    <li><a href="">recipes</a></li>
    <li><a href="/">home</a></li>
{% endblock %}

{% block content %}
<center>
    <form class="form" method="post">
        {% csrf_token %}
        {% if error_message != '' %}
            <h2>{{ error_message }}</h2>
        {% endif %}
        <h1>login</h1>
        <input type="text" id="username_field" name="username" placeholder="username" Required> <br> <br>
        <input type="password" id="password_field" name="password" placeholder="password" Required> <br> <br>
        
        <button type="submit">login</button><button type="button"><a href="signup">signup</a></button>
    </form>
</center>
{% endblock %}