{% extends 'base.html' %} {% block content %}
<style>
    .form-div {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        width: clamp(350px, 50%, 1000px);
    }
    
    form {
        padding: 20px 10px;
    }
</style>
<nav>
    <ul>
        <a href="/home/new"><img src="/static/pictures/ChefGenieLogo.png" style="height:100px; width: auto; margin-top: -17.5px; margin-left: -17.5px;"></a>
        <li><a href="/account">account</a></li>
        <li><a href="/analytics">analytics</a></li>
        <li><a href="/pantry">pantry</a></li>
        <li><a href="/recipe">recipes</a></li>
        <li><a class="active" href="/home/new">home</a></li>
    </ul>
</nav>
<center>
    <div class="form-div">
        <form class="form" method="post">
            <h1 style="font-size:3.1rem;"> Welcome to Chef Genie!</h1>
            {% csrf_token %} {% if message != '' %}
            <h2>{{ message }}</h2>
            {% endif %}

            <h1>signup</h1>
            {{ form.email_address }} <br> <br> {{ form.username }} <br> <br> {{ form.password }} <br> <br> {{ form.confirm_password }} <br> <br>

            <button type="submit">submit</button>
        </form>
    </div>

</center>
{% endblock content %}