{% extends 'base.html' %}

{% block content %}
    <article>
        <h1 style="text-align:center;">Fitness Analytics</h1>
        <div class="tags" style="align-content: center;">
            <img src="data:image/png;base64,{{ graph }}" height="1000" width ="1000" style="border:5px solid black;vertical-align:middle; align-content: center;" /> 
        </div>
        <div class="historytable" style="align-content:center;">
            <h3 class="h3"> Calorie Intake by Date </h3>
            <br>
            {{ final_df }}
        </div>
    </article>

{% endblock content %}