{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
    <form action="/recipe/recommend" method="post" class="search_interface">
        {% csrf_token %}
        <h1>What are you craving today?</h1>
        <input type="text" class="input_field" name="search_term" Required>

        <button type="submit">Search</button><br>

        <!-- Filtering -->
        <h2>Enable Filters</h2>
        <input type="checkbox" name="filter_enabled" id="filter_options_enable" onclick="show_filter_options()">

        <div class="filter_options" style="display: none;">
            <h2>Calorie Filters</h2>

            <input type="text" class="calorie_filter" name="min_calories" placeholder="Input Minimum Calories" disabled>
            <input type="text" class="calorie_filter" name="max_calories" placeholder="Input Maximum Calories" disabled>

            <br>
            <br>

            <h2>Ingredient Filters</h2>
            <div id="ingredient_filters">
                <button type="button" id="add_filter_button" onclick="add_new_ingredient_filter()">Add new Ingredient Filter</button><br>
                <button type="button" id="remove_filter_button" onclick="remove_ingredient_filter()">Remove Top Ingredient Filter</button>
            </div>

        </div>
    </form>
</center>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/recipe_search.js' %}"></script>
{% endblock scripts %}