{% extends 'base.html' %}

{% block content %}
    <center>
        <form action="/recipe/recommend" method="post">
            {% csrf_token %}
            <input type="text" class="input_field" name="search_term" placeholder="What are you craving?" Required>
            <button type="submit">Search</button>
        </form>

        <h4 id="searchprompt">
            Search Results based on: <u>{{ request.session.prompt }}</u>
        </h4>
    </center>

    

    {% for recipe in request.session.recommendations %}
        <article>
            <header>
                <h1>{{ recipe.name }}</h1>
            </header>

            <table>
                <tr>
                    {% for tag in recipe.tags %}
                        <td>{{ tag }}</td>
                    {% endfor %}
                </tr>
            </table>
            <!-- More Descriptors to be added in the future -->
        </article>
    {% endfor %}
{% endblock %}