{% extends 'base.html' %}

{% block content %}
    <center>
        <button type="button" onclick="location.href = '/recipe';">Return to Search</button>
    </center>

    
    {% if request.session.IsEmpty %}
        <h4 style="color: white;">
            No Results Found
        </h4>
    {% else %}
        {% for recipe in request.session.recommendations %}
            <article>
                <header>
                    <h1><a href="{% url 'recipe_details' recipe.id %}">{{ recipe.name }}</a></h1>
                </header>

                <table>
                    <tr>
                        {% for tag in recipe.tags %}
                            <td>{{ tag }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <!-- More Descriptors to be added in the future -->
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}