{% extends 'base.html' %}

{% block content %}
    <article>
        <h1>{{ recipe.name }}</h1>
        <h3>Tags: </h3>
        <div class="tags">
            {% for tag in recipe_tags %}
                <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>
        <h3>Ingredients: </h3>
        <ul>
            {% for ingredient in recipe_ingredients %}
                {% if ingredient.required_amount > 1.0 %}
                    <li>{{ ingredient.required_amount }} {{ ingredient.ingredient.unit }}s {{ ingredient.ingredient.name }}</li>
                {% else %}
                <li>{{ ingredient.required_amount }} {{ ingredient.ingredient.unit }} {{ ingredient.ingredient.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3>Directions: </h3>
        <ol>
            {% for step in recipe_steps %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </article>

    <article>
        <form action="{% url 'make_recipe' recipe.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="make-form">
                <input type="number" name="amount" min="0.01" step="0.01">
                <p>Add to meal history?</p>
                {% if user.is_authenticated %}
                <button type="submit">Make Meal</button>
                {% else %}
                <p>You must be logged in to add a meal to your history.&nbsp;
                    <span><a href={% url 'login' %} class="login-now">Login now.</a></span>
                </p>
                {% endif %}
            </div>
        </form>
        <hr class="solid">
    </article>

    <article>
        <form action="{% url 'submit_review' recipe.id %}" method="POST">
            {% csrf_token %}
            <div class="review-form">
                <h4>Leave a review</h4>
                <div class="rating">
                    Rating:&nbsp;
                    <input type="radio" name="rating" id="rating-10" value="5" required><label for="rating-10" title="5"></label>
                    <input type="radio" name="rating" id="rating-9" value="4.5" required><label for="rating-9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating-8" value="4" required><label for="rating-8" title="4"></label>
                    <input type="radio" name="rating" id="rating-7" value="3.5" required><label for="rating-7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating-6" value="3" required><label for="rating-6" title="3"></label>
                    <input type="radio" name="rating" id="rating-5" value="2.5" required><label for="rating-5" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating-4" value="2" required><label for="rating-4" title="2"></label>
                    <input type="radio" name="rating" id="rating-3" value="1.5" required><label for="rating-3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating-2" value="1" required><label for="rating-2" title="1"></label>
                    <input type="radio" name="rating" id="rating-1" value="0.5" required><label for="rating-1" title="0.5" class="half"></label>
                </div>
                <p>Comment:</p>
                <textarea name="comment" rows="4" cols="50"></textarea>
                {% if user.is_authenticated %}
                <button type="submit">post review</button>
                {% else %}
                <p>You must be logged in to post a review.&nbsp;
                    <span><a href={% url 'login' %} class="login-now">Login now.</a></span>
                </p>
                {% endif %}
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div id="message">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <hr class="solid">

        <div class="reviews">
            <h3>User Reviews</h3>
            {% for review in reviews %}
                <div class="review">
                    <div class="review-header">
                        <div class="review-username">{{ review.user__user__username }}</div>
                        <p>•</p>
                        <span class="stars">
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="review-comment">{{ review.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </article>

    <script>
        var message = document.getElementById("message");
        setTimeout(function(){ 
            message.style.display = "none";
        }, 5000);
    </script>
{% endblock content %}